html {
  height: 100%;
}

body {
    height: 100%;
    padding-top: 70px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: none;
  padding-bottom: 80px;
}

.footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear:both;
  background-color: #555555;
  padding-top: 20px;
}
